@model RecipeSite.Models.Recipe

@{
    ViewBag.title = "Recipe details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div class="row">
        <h1>@Html.DisplayFor(model => model.title)</h1>
        <small>@Html.DisplayFor(model => model.author.UserName) </small>
    </div>
    <div class="row">
            @*<span class="favorite " aria-hidden="true" onclick="addLike()">
                <label style="padding-left:10px; padding-top:3px">@Html.DisplayFor(model => model.likeAmount)</label>
            </span>*@
        <div class="col-md-7 col-xs-5">
            @foreach (RecipeSite.Models.Category currentCategory in Model.Categories)
            {
                @currentCategory.name
                
            }
        </div>
    </div>
        
   
        <hr />
    <div class="row">
        <img class="col-md-5 col-xs-4" src="@Html.DisplayFor(model => model.image)" alt="...">


        @Html.DisplayFor(model => model.content)
        @* need add categories!!!! *@
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index") |
        @Html.ActionLink("Delete", "Delete", new { id = Model.ID })
    </p>
</body>
</html>

