@model RecipeSite.Models.Recipe

@{
    ViewBag.title = "Recipe details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div class="row">
        <h1>@Html.DisplayFor(model => model.title)
            <small>@Html.DisplayFor(model => model.author.UserName) </small>    
        </h1>  
    </div>
    <div class="row">
      
        <div class="col-md-7 col-xs-5">
            @foreach (RecipeSite.Models.Category currentCategory in Model.Categories)
            {
               <label>@currentCategory.name
                        |</label>
            }
        </div>
        <div>
            <span class="favorite" aria-hidden="true" onclick="addLike(@Model.ID)">
                <label id="fev_@Model.ID" style="padding-left:10px; padding-top:3px">@Html.DisplayFor(model => model.likeAmount)</label>
            </span>
        </div>
        
    </div>

     <hr />

    <div class="row">
        <img class="col-md-5 col-xs-4" src="@Html.DisplayFor(model => model.image)" alt="...">
        @Html.DisplayFor(model => model.content)
    </div>
   
     <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index") |
        @Html.ActionLink("Delete", "Delete", new { id = Model.ID })
    </p>

    <script type="text/javascript">

        function addLike(resId) {
            $.ajax({
                type: "post",
                url: '/Recipes/AddLike',
                data: { "id": resId, "actionName": "Details" },
                cache: false,
                success: function () {
                    var itId= "#fev_" + resId;
                    var calc = Number($(itId).text()) + 1;
                    $(itId).text(calc);
                },
                error: function() {
                    alert('error');
                }
            });
        }
    </script>
</body>
</html>

