@model RecipeSite.Models.Recipe
           @using Microsoft.AspNet.Identity

@{
    ViewBag.title = "Recipe details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div class="row">
        <h1>@Html.DisplayFor(model => model.title)
            <small>@Html.DisplayFor(model => model.author.UserName) </small>    
        </h1>  
    </div>
    <div class="row" >
        <div class="col-md-7 col-xs-5">
            @foreach (RecipeSite.Models.Category currentCategory in Model.Categories)
            {
               <label>@currentCategory.name
                        |</label>
            }
        </div>
        <div>
            <span class="favorite" aria-hidden="true" style="width:30px;height:30px;" onclick="addLike(@Model.ID)">
                <label id="fev_@Model.ID" style="padding-left:10px; padding-top:3px">@Html.DisplayFor(model => model.likeAmount)</label>
            </span>
        </div>
        
    </div>

     <hr />

    <div class="row">
        <img class="col-md-5 col-xs-4" src="@Html.DisplayFor(model => model.image)" alt="...">
        @Html.DisplayFor(model => model.content)
    </div>
   
     <p>
         @Html.ActionLink("Back to List", "Index") |
 
        @if (User.Identity.IsAuthenticated && (User.IsInRole("Admins") || (User.Identity.GetUserId().Equals(Model.userId))))
        {
            <a href="@Url.Action("Edit", "Recipes", new { id = Model.ID })" class="btn btn-primary" role="button">edit</a>
            <a href="@Url.Action("Delete", "Recipes", new { id = Model.ID })" class="btn btn-default" role="button">delete</a>
         }
    </p>

    <script type="text/javascript">

        function addLike(resId) {
            $.ajax({
                type: "post",
                url: '/Recipes/AddLike',
                data: { "id": resId, "actionName": "Details" },
                cache: false,
                success: function () {
                    var itId= "#fev_" + resId;
                    var calc = Number($(itId).text()) + 1;
                    $(itId).text(calc);
                },
                error: function() {
                    alert('error');
                }
            });
        }
    </script>
</body>
</html>

