@model RecipeSite.Models.Recipe

@{
    ViewBag.title = "edit recipe";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
    
    @using (Html.BeginForm("Edit", "Recipes", null, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Edit Recipe</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)
           
            <div class="form-group">
                @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.content, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.content, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.content, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.image, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" id="image" name="upload" />
                    @Html.ValidationMessageFor(model => model.image, "", new { @class = "text-danger" })
                </div>
            </div>
    

            @*<div class="form-group">
                @Html.LabelFor(model => model.Categories, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select multiple id="categoriesSelect">
                        @foreach (RecipeSite.Models.Category currentCategory in ViewBag.allCategories)
                        {
                            <option value="@currentCategory.ID"> @currentCategory.name</option>
                        }
                    </select>
                </div>
            </div>
            <input type="hidden" id="selectedCategories" name="selectedCategories" value=" " />*@
            <input type="hidden" id="selectedCategories" name="selectedCategories" value=" " />

            <div class="form-group">
                @Html.LabelFor(model => model.Categories, htmlAttributes: new { @class = "control-label col-md-2" })
                <div id="categoriesCheckBoxes" class="col-md-10">
                    @foreach (RecipeSite.Models.Category currentCategory in ViewBag.allCategories)
                    {
                        <input type="checkbox" id="category_@currentCategory.ID" value="@currentCategory.ID">@currentCategory.name

                    }

                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Edit" onclick="addSelectedToList()" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            var list = '@ViewBag.selectedIdsList';
            var options = list.split(",");
            for (var i in options) {
                var checkId = '#category_' + options[i];
                $(checkId).prop("checked", true);
            }
        });

        //function change() {

        //}

    @*$("#categoriesSelect").ready(function () {
        @*alert("fdsfsdfds");
            var list = JSON.parse('@Html.Raw(ViewBag.selectedIdsList)');
            console.log();*@


    @*var list = '@ViewBag.selectedIdsList';
        var options = list.split(",");
        for(var i in options) {
            $("#categoriesSelect").find("option[value="+i+"]").prop("selected", "selected");
        }*@
    //var optionVal = selectedOptions[i];
    @*$("#categoriesSelect").val(@ViewBag.selectedIdsList);*@
    //});

        function addSelectedToList() {
            var selectedIds = "";
            $('#categoriesCheckBoxes input:checkbox').each(function () {
                if (this.checked) {
                    if (selectedIds != "") {
                        selectedIds += ",";
                    }

                    selectedIds += $(this).val();
                }
            });

            $("#selectedCategories").val(selectedIds);
        }
    //function addSelectedToList() {
    //    var selected = $('select[id=categoriesSelect]').val();
    //    $("#selectedCategories").val(selected)
    //}
    </script>
</body>
</html>

