@model IEnumerable<RecipeSite.Models.Recipe>

@{
    ViewBag.title = "recipes list";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    @if (User.IsInRole("Admins"))
                               {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) 
                        @Html.DisplayText("|")
                     @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    }
                    <img src="@item.image" alt="no image"/>
                    <div class="caption">
                         <h3 >@Html.DisplayFor(modelItem => item.title)<small>@Html.DisplayFor(modelItem => item.author.UserName)</small></h3>

                        <div class="row">
                            <div class="col-md-3">
                                <p> @Html.ActionLink("View", "Details", new { id = item.ID }) </p>
                            </div>
                            <div >
                                <span class="favorite" aria-hidden="true" onclick="addLike(@item.ID)">
                                    <label id="fev_@item.ID" style="padding-left:10px; padding-top:3px">@Html.DisplayFor(modelItem => item.likeAmount)</label>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <script type="text/javascript">

        function addLike(resId) {
            $.ajax({
                type: "post",
                url: '/Recipes/AddLike',
                data: { "id": resId, "actionName": "Index" },
                cache: false,
                success: function () {
                    var itId= "#fev_" + resId;
                    var calc = Number($(itId).text()) + 1;
                    $(itId).text(calc);
                },
                error: function() {
                    alert('error');
                }
            });
        }
    </script>
    
  
</body>
</html>
