@model IEnumerable<RecipeSite.Models.Recipe>

@{
    ViewBag.title = "recipes list";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-4" >
                <div class="thumbnail" >
                    <h3>@Html.DisplayFor(modelItem => item.title)<small>@Html.DisplayFor(modelItem => item.author.UserName)</small></h3>
                    <a href="@Url.Action("View", "Recipes", new { id = item.ID }) "><img src="@item.image" alt="no image" /></a>
                    <div class="caption">
                        <p>
                            @if (User.IsInRole("Admins"))
                            {
                                <a href="@Url.Action("Edit", "Recipes", new { id = item.ID })" class="btn btn-primary" role="button">edit</a> <a href="@Url.Action("Delete", "Recipes", new { id = item.ID })" class="btn btn-default" role="button">delete</a>
                            }
                            <span style="width:30px;height:30px;" class="favorite" aria-hidden="true" onclick="addLike(@item.ID)">
                                <label id="fev_@item.ID" style="padding-left:10px; padding-top:3px">@Html.DisplayFor(modelItem => item.likeAmount)</label>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
    <script type="text/javascript">

        function addLike(resId) {
            $.ajax({
                type: "post",
                url: '/Recipes/AddLike',
                data: { "id": resId, "actionName": "Index" },
                cache: false,
                success: function () {
                    var itId= "#fev_" + resId;
                    var calc = Number($(itId).text()) + 1;
                    $(itId).text(calc);
                },
                error: function() {
                    alert('error');
                }
            });
        }
    </script>
    
  
</body>
</html>
