@using Microsoft.AspNet.Identity;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0">*@


    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body onload="init();">
        <header>
            <div class="page-header">
                <img style="width:100%;height:auto" class="img-responsive " src="~/Upload/images/style/recipes-1.jpg" />
            </div>


        </header>
        <nav>
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("All Recipes", "Index", "Categories")</li>
                               @if (User.IsInRole("Admins"))
                               {
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret" style="font:inherit"></span></a>
                                    <ul class="dropdown-menu" style="font-size:inherit">
                                        <li>@Html.ActionLink("Manage Categories", "Index", "Categories")</li>
                                        <li>@Html.ActionLink("Manage Users", "Index", "Account")</li>
                                        <li>@Html.ActionLink("Manage Recipes", "Index", "Recipes")</li>
                                    </ul>
                                </li>
                               }


                                @if(User.IsInRole("Admins") || User.IsInRole("Users"))
                                {
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Private zone<span class="caret"></span></a>
                                        <ul class="dropdown-menu" style="font-size:inherit">
                                            <li>@Html.ActionLink("My profile", "Details", "Account", new { id = User.Identity.GetUserId() }, null)</li>
                                            <li>@Html.ActionLink("My recipes", "Index", "Recipes", new { userId = User.Identity.GetUserId() }, null)</li>
                                            <li>@Html.ActionLink("My ingredients", "Index", "Ingredients", new { userId = User.Identity.GetUserId() }, null)</li>
                                        </ul>
                                    </li>
                                }
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            
                           
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
        </nav>

        <div id="content">
                @{Html.RenderAction("Aside", "Home");}
            
          


            <div id="mainContent" class="col-md-9">
                <section>
                    @RenderBody()
                </section>
            </div>
            @*<div id="rightSide" class="col-md-2 hidden-xs ">
                <div align="right">
                    @using (Html.BeginForm("Search", "Home", FormMethod.Post))
                    {
                        <p>
                            Title: @Html.TextBox("recipeTitle") <br />
                            UserName: @Html.TextBox("userName") <br />                           
                            Category: @Html.DropDownList("categories", RecipeSite.Controllers.HomeController.GetDropDown(), new { @class = "chzn-select", data_placeholder = "Choose  food categories..." }) <br/>
                             <input type="submit" value="Filter" />
                        </p>
                    }
                </div>
                
                <div class="fb-page" data-width="250" data-href="https://www.facebook.com/recipeSiteWeb?ref=aymt_homepage_panel" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/recipeSiteWeb?ref=aymt_homepage_panel"><a href="https://www.facebook.com/recipeSiteWeb?ref=aymt_homepage_panel">RecipeSite</a></blockquote></div></div>

               
            </div>*@
        </div>
        <footer style="background-color:grey;font-size:medium;align-self:flex-end">
            <p>©All right received to Adi & Yarden & Gal </p>
        </footer>


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

    @*<div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=818834374895942";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <script>
    FB.init({
        appId: '818834374895942'
    });
    </script>*@

    <div id="fb-root"></div>
    <script>
(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=818834374895942";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>





</body>
</html>
