@model IEnumerable<RecipeSite.Models.Category>

@{
    ViewBag.Title = "categories";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

        <div class="row">
    
        @foreach (var item in Model)
        {
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a href="@Url.Action("IndexByCategory", "Recipes", new { categoryId = item.ID }) "><img src="@item.imageUrl" /></a>
                        <div class="caption">
                            <h3>@Html.DisplayFor(modelItem => item.name)</h3>
    
                      @*      edit and delete for admin*@ 
                           <p><a href="@Url.Action("edit","Categories", new { id=item.ID })" class="btn btn-primary" role="button">edit</a> <a href="@Url.Action("delete","Categories", new { id=item.ID })" class="btn btn-default" role="button">delete</a></p>
                        </div>
                    </div>
                </div>
    }
        </div>
    
</body>
</html>
